*{
    padding: 0;
    margin: 0;

}

body{
    color: white;
}


.section{
    background-color: red;
}

.container{
    background-color: green;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
}

.wrapper{
    background-color: blue;
    /* padding-top: 64px;
    padding-bottom: 64px; */
    padding-block: 64px;
}