* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {

// }

// .section{
//     background-color: red;
// } */

.container {
  --variableName: 24px;
  max-width: calc(
    1200px + 2 * var(--variableName)
  );
  margin-inline: auto;
  padding-inline: var(--variableName);
}

img {
  width: 380px;
}

.sub {
  &__text {
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  &__menu1 {
    padding-top: 90px;
    text-align: left;
  }
  &__menu3 {
    text-align: right;
  }
}

.imgs {
  width: 100%;
  display: inline-block;
}

.slogun {
  padding-top: 30px;
  font-size: 36px;
  color: #444444;
  font-family: "Montserrat", sans-serif;
}

.letter {
  font-size: 20px;
  padding-top: 20px;
  max-width: 500px;
  line-height: 30px;
  margin-inline: auto;
  // justify-content: space-between;
  // display: flex;
  // align-items: center;
  padding-bottom: 20px;
  font-family: "NEXON Lv2 Gothic";
}

span {
  color: #974ef8;
}

.global {
  font-size: 24px;
  font-family: "NEXON Lv2 Gothic";
  font-weight: 700;
}

.artist {
  padding-top: 24px;
  font-family: "NEXON Lv2 Gothic";
  padding-bottom: 70px;
  max-width: 320px;
  margin-inline: auto;
  line-height: 25px;
}

.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.button {
  background-color: #974ef8;
  color: #fff;
  padding: 4px 24px;
  font-weight: 350;
  border-radius: 24px;
  text-align: center;
}

.nav {
  background-color: rgb(251, 247, 255);
  color: black;
  font-weight: 800;
  font-size: 24px;
  font-family: "NEXON Lv2 Gothic Bold";
  container-type: inline-size;
  container-name: nav;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
  }
  &__menuWrapper {
    display: flex;
    gap: 40px;
    align-items: baseline;
  }

  .lt920px {
    display: unset;
  }

  @container nav (width < 66.25rem) {
    &__menuWrapper {
      display: none;
    }
    .lt920px {
      display: unset;
    }
  }

  &__logo {
    max-width: 180px;
    padding-right: 24px;
  }
}

.imgs {
  display: inline-block;
}

/* 
.nav__menu, .nav__logo {
    color: white;
}

.nav .container {
    background-color: gray;
} */

#hero1 {
  text-align: center;
}

#hero2 {
  .main &__text {
    font-family: "Montserrat", sans-serif;
  }
}

.main {
  &__text {
    margin-inline: auto;
    font-size: 20px;
    font-family: "NEXON Lv2 Gothic";
    color: #444444;
    line-height: 30px;
  }

  &__media {
    aspect-ratio: 1 / 1;
    background-color: aliceblue;
    margin-top: 40px;
    overflow: hidden;
    img {
      min-width: 100%;
      object-fit: cover;
    }
  }
}
p {
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo2 {
  padding-top: 80px;
  padding-inline: 40px;
}

.logo3 {
  max-width: 150px;
}

.info {
  padding-top: 10px;
  padding-bottom: 14px;
}

.end {
  padding-top: 16px;
}

.footer {
  background-color: #f0f0f0;
  color: #444444;
  container-type: inline-size;
  container-name: footer;

  a {
    text-decoration: none;
    color: #444444;
  }

  li {
    list-style: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // line-height: 25px;
  }
  h2 {
    margin-bottom: 16px;
  }

  // @container footer (width < 40.625rem) {
  //   .wrapper(grid-template-columns: 1fr)
  // }
}
