* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  --variableName: 24px;
  max-width: calc(1200px + 2 * var(--variableName));
  margin-inline: auto;
  padding-inline: var(--variableName);
}

img {
  width: 380px;
}

.sub__text {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.sub__menu1 {
  padding-top: 90px;
  text-align: left;
}
.sub__menu3 {
  text-align: right;
}

.imgs {
  width: 100%;
  display: inline-block;
}

.slogun {
  padding-top: 30px;
  font-size: 36px;
  color: #444444;
  font-family: "Montserrat", sans-serif;
}

.letter {
  font-size: 20px;
  padding-top: 20px;
  max-width: 500px;
  line-height: 30px;
  align-items: center;
  padding-bottom: 20px;
  font-family: "NEXON Lv2 Gothic";
}

span {
  color: #974ef8;
}

.global {
  font-size: 24px;
  font-family: "NEXON Lv2 Gothic";
  font-weight: 700;
}

.artist {
  padding-top: 24px;
  font-family: "NEXON Lv2 Gothic";
  padding-bottom: 70px;
  max-width: 320px;
}

.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.button {
  background-color: #974ef8;
  color: #fff;
  padding: 4px 24px;
  font-weight: 350;
  border-radius: 24px;
  text-align: center;
}

.nav {
  background-color: rgb(247, 239, 254);
  color: black;
  font-weight: 800;
  font-size: 24px;
  font-family: "NEXON Lv2 Gothic Bold";
  container-type: inline-size;
  container-name: nav;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}
.nav__menuWrapper {
  display: flex;
  gap: 40px;
  align-items: baseline;
}
.nav .lt920px {
  display: unset;
}
@container nav (width < 66.25rem) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lt920px {
    display: unset;
  }
}
.nav__logo {
  max-width: 180px;
  padding-right: 24px;
}

.imgs {
  display: inline-block;
}

/* 
.nav__menu, .nav__logo {
    color: white;
}

.nav .container {
    background-color: gray;
} */
#hero1 {
  text-align: center;
}

.main #hero2__text {
  font-family: "Montserrat", sans-serif;
}

.main__text {
  margin-inline: auto;
  font-size: 20px;
  font-family: "NEXON Lv2 Gothic";
  color: #444444;
  line-height: 30px;
}
.main__media {
  aspect-ratio: 1/1;
  background-color: aliceblue;
  margin-top: 40px;
  overflow: hidden;
}
.main__media img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo2 {
  padding-top: 80px;
}

.logo3 {
  max-width: 150px;
}

.info {
  padding-top: 10px;
  padding-bottom: 14px;
}

.end {
  padding-top: 16px;
}

.footer {
  background-color: #f0f0f0;
  color: #444444;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: #444444;
}
.footer li {
  list-style: none;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.footer h2 {
  margin-bottom: 16px;
}